NEXT_PUBLIC_SUPABASE_URL=https://nqibbclyqghsmzisivwu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xaWJiY2x5cWdoc216aXNpdnd1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjUwMjYyNDAsImV4cCI6MTk4MDYwMjI0MH0.vDhh4n1lQ_V-PJ_9K8y-Kgw0R81r6ExPFU8-eCk85yc
NEXT_PRIVATE_SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xaWJiY2x5cWdoc216aXNpdnd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY2NTAyNjI0MCwiZXhwIjoxOTgwNjAyMjQwfQ.nUcRDXGBTAA-MMdA9epF3ZBOBvCAwsxKcdN6LRz3bx8
