@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-feature-settings: 'cv03', 'cv04', 'cv11';
	}
}

.input-field {
	@apply rounded-md border border-black p-2;
}

#__next {
	min-height: 100%;
}
